/*--CS146: Final Project: CSS
----Team3: Mijeong Ban, Ian Gomez, Dana McGuire, Caroline Rubino, Luke Bukowiec
----I pledge my honor that I have abided by the Stevens Honor System. */
a{
  text-decoration: none;
  color: gray;
}
nav ul li a:hover{
    color:white;
    text-shadow: 0px 0px 5px white;
}
a:hover {
  cursor: pointer;
  border-bottom: 1px dotted white;
}
body{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 0rem
}
h2, h3, h4, p, input{
  font-family: 'Raleway', sans-serif;
}
h2{
  color: #484848;
  text-transform: uppercase;
}
#bg-wrapper{
  background-image: url("images/overlay.png"), url("../images/banner.jpg");
  background-position: center top;
  background-attachment: fixed;
}
input{
  border: 1px solid #BBBBBB;
  border-radius: 1.3rem;
  padding: 1rem 2rem 1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100%;
  color: #6C6C6C;
}
input:hover{
  cursor: pointer;
  color: white;
}
/*----------- Header -------------*/

nav{
    justify-content: space-between;
    background-color: gray;
    background-color: rgba(255, 255, 255, 0.2);
/*    position: fixed;  */
/*    if it does not work, make TOP button */
}
nav a{
  color: white;
}

#toggler{
    height:100%;
    width:100%
}
/*-------- Header End ------------*/
/*---------- Banner ----------*/
#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 10rem;
}
#banner>.item h2, #banner>.item p{
  color: white;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}
#banner .item h2{
  font-size: 4rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
}
#banner .item p{
  font-size: 1.5rem;
  color:#BBBBBB;
}
/*------- Banner End -------*/
/*------- Banner for sub pages ------*/
#banner2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 2rem;
}
#banner2 .item h2 {
  display:none;
}
/*------ Banner for sub pages End -----*/
/*------- Welcome --------*/
#welcome .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
}
#welcome p{
  width: 50rem;
}
/*---- Welcome End -------*/
/*------ Team -----------*/
#team .container{
  margin: 1em 6rem 1rem 6rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #F0F0F0;
}
#team .item:nth-child(2) {
  display: flex;
  align-items: center;
}
#team .subitem1{
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem;
}
#team .subitem2{
  text-align: right;
}
#team .memberwrapper{
  display: flex;
  flex-direction: row;
}
#team .avatar {
  border-radius: 100%;
  display:inline-block;
  padding: 0.5rem;
  background-color: #F1EBE8;
  border: 1px solid #E3DDDA;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
#team .avatar img {
  border-radius: 100%;
  display: block;
}
/*----- Team End ------*/
/*------ ContactUs -------*/
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/contact.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10rem 2rem 10rem 2rem;
  margin: 1rem 7rem 3rem 7rem;
  color: #BBBBBB;
}
/*----- ContactUs End -----*/
/*------- Footer --------*/
#footer {
  padding: 1rem 1rem 1rem 1rem;
}
#footer p{
  text-transform: uppercase;
  text-align: center;
}
/*------- Footer End --------*/
.active{
    color:lightgrey;
}


/*===================== Restaurant page ======================*/
#restaurant>.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#restaurant header{
  margin-top: 3rem;
}
#restaurant .map {
  margin: 4rem 18rem 4rem 18rem;
  height: 1000px;
  width: 865px;
  background-image: url("../images/mapbg.png");
  background-position: center;
  background-size: contain;
}
#restaurant .map a {
  position: relative;
  color: #908589;
}
#restaurant .map a:nth-child(1){
  /* pokemon bowls */
  top: 42%;
  left: 41%;
}
#restaurant .map a:nth-child(2){
  top: 89%;
  left: 45.5%;
}
#restaurant .map a:nth-child(3){
    /* are these any good i could use a cheesesteak at 2 am */
  top: 45%;
  left: 34.5%;
}
#restaurant .map a:nth-child(4){
    /* this place is the goat btw if u dont know what im doing im pretty much just changing the values from px to % so it can scale across
    a changing size */
  top: 46%;
  left: 31.5%;
}
#restaurant .map a:nth-child(5){
    /* karmas a bitch */
  top: 47.5%;
  left: 28.5%;
}
#restaurant .map a:nth-child(6){
/*  yoooooo there is a surf taco here im outtie */
  top: 850px;
  left: 220px;
}
#restaurant .map a:nth-child(7){
  top: 47%;
  left: 22.5%;
}
#restaurant .map a:nth-child(8){
  /* mamamamamamamama falaffel dont read these its 2:35 rn*/
    top:47%;
  left: 15.75%;
}
#restaurant .map a:nth-child(9){
  top: 72.5%;
  left: 15.5%;
}
#restaurant .map a:nth-child(10){
  top: 70%;
  left: 13.5%;
}
#restaurant .map a:nth-child(11){
  top: 75%;
  left: 7%;
}

/*================== Restaurant page END ===================*/

/*============== Restaurant INFO page =================*/


#resInfo .container{
  margin: 2rem 8rem 2rem 8rem;
  display: flex;
  flex-direction: column;
}
#resInfo .container .top{
  margin-left: 4rem;
}
#resInfo .container .bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#resInfo .container .bottom .detailinfo{
  margin-left: 2rem;
  padding-left: 1rem;
  padding-right: 7rem;
  border-right: 1px dotted gray;
}
#resInfo .container .bottom .detailinfo>#hours{
  margin-left: 1rem;
}

/*============ Restaurant INFO page END ===============*/
