/*--CS146: Final Project: CSS
----Team3: Mijeong Ban, Ian Gomez, Dana McGuire, Caroline Rubino, Luke Bukowiec
----I pledge my honor that I have abided by the Stevens Honor System. */
a{
  text-decoration: none;
  color: gray;
}
li {
  list-style: none;
}
nav ul li a:hover{
    color:white;
    text-shadow: 0px 0px 5px white;
}
a:hover {
  cursor: pointer;
  border-bottom: 1px dotted white;
}
body{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 0rem
}
h2, h3, h4, p, input{
  font-family: 'Raleway', sans-serif;
}
h2{
  color: #484848;
  text-transform: uppercase;
}
#bg-wrapper{
  background-image: url("images/overlay.png"), url("../images/banner.png");
  background-position: center top;
  background-attachment: fixed;
}
input{
  border: 1px solid #BBBBBB;
  border-radius: 1.3rem;
  padding: 1rem 2rem 1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100%;
  color: #6C6C6C;
}
input:hover{
  cursor: pointer;
  color: white;
}
.active{
  color: gray;
}
/*----------- Header -------------*/
header, nav ul {
  display:flex;
  flex-direction: row;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}
header{
    justify-content: space-between;
    background-color: gray;
    background-color: rgba(255, 255, 255, 0.2);
}
header a{
  color: white;
}
#title {
  padding-left: 2rem;
}
nav ul {
  list-style: none;
  padding-right: 2rem;
}
nav ul li{
  margin: 1rem 1rem 1rem;
  transition: all 0.2s ease-out;
}
@media (max-width: 832px){
  header{
    flex-direction: column;
    align-items: center;
  }
  header>h1{
    margin-bottom: 0rem;
  }
}
@media (max-width: 534px){
  header>h1{
    font-size: 150%;
  }
  nav ul li{
    font-size: 60%;
    margin-right: 0rem;
  }
}
/*-------- Header End ------------*/
/*---------- Banner ----------*/
#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 10rem;
}
#banner>.item h2, #banner>.item p{
  color: white;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}
#banner .item h2{
  font-size: 4rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
}
#banner .item p{
  font-size: 1.5rem;
  color:#BBBBBB;
}
@media (max-width: 832px){
  #banner{
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
  #banner>.item h2{
    font-size: 200%;
  }
  #banner>.item:nth-child(2) p{
    font-size: 100%;
  }
}
@media (max-width: 436px){
  #banner>.item:nth-child(2) p{
    text-align: justify;
    width: inherit;
    margin: 1rem 2rem 1rem 2rem;
  }
}
/*------- Banner End -------*/
/*------- Banner for sub pages ------*/
#banner2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 2rem;
}
#banner2 .item h2 {
  display:none;
}
/*------ Banner for sub pages End -----*/
/*------- Welcome --------*/
#welcome .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
}
#welcome p{
  width: 50rem;
}
@media (max-width: 832px){
  #welcome .container>.item:nth-child(2) p{
    text-align: justify;
    width: inherit;
  }
}
/*---- Welcome End -------*/
/*------ Team -----------*/
#team .container{
  margin: 1em 6rem 1rem 6rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #F0F0F0;
}
#team .item:nth-child(2) {
  display: flex;
  align-items: center;
}
#team .subitem1{
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem;
}
#team .subitem2{
  text-align: right;
}
#team .memberwrapper{
  display: flex;
  flex-direction: row;
}
#team .avatar {
  border-radius: 100%;
  display:inline-block;
  padding: 0.5rem;
  background-color: #F1EBE8;
  border: 1px solid #E3DDDA;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
#team .avatar img {
  border-radius: 100%;
  display: block;
}
@media (max-width: 948px){
  #team>.container {
    margin: 1rem 2rem 1rem 2rem;
  }
  #team .item:nth-child(2){
    flex-direction: column;
  }
  #team .subitem1 .memberwrapper:nth-child(2){
    flex-direction: row-reverse;
    text-align: right;
  }
  #team .subitem2 .memberwrapper:nth-child(1){
    flex-direction: row-reverse;
    text-align: left;
  }
  #team .subitem2 .memberwrapper:nth-child(3){
    flex-direction: row-reverse;
    text-align: left;
  }
  #team .memberinfo {
    padding: 1rem 1rem 1rem 1rem;
  }
}

@media (max-width: 589px){
  #team .container {
    margin: 0 0 0 0;
  }
  #team .container>.item{
    text-align: center;
  }
  #team .subitem1 .memberwrapper:nth-child(n+1){
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  #team .subitem2 .memberwrapper:nth-child(n+1){
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
/*----- Team End ------*/
/*------ ContactUs -------*/
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/contact.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 8rem 2rem 8rem 2rem;
  margin: 1rem 7rem 3rem 7rem;
  color: #BBBBBB;
  text-transform: uppercase;
}
@media (max-width: 832px){
  #contact {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 1rem 0 1rem 0;
  }
}
/*----- ContactUs End -----*/
/*------- Footer --------*/
#footer {
  background-color: #F0F0F0;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer p{
  text-transform: uppercase;
  text-align: center;
  font-size: 80%;
  position: relative;
  left: 0.5rem;
}
#footer .icons li {
  display: inline-block;
  border-radius: 100%;
  border: 1px solid white;
  background-color: #C2C2C2;
  width:2rem;
  height:2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
#footer .icons li:hover {
  background-color: #F3E2DA;
}
#footer .icons li a{
  color:#F0F0F0;
  text-decoration: none;
  border-bottom: none;
}
#footer .icons li .label{
  display: none;
}
/*------- Footer End --------*/
/*===================== Restaurant page ======================*/
#restaurant>.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#restaurant header{
  margin-top: 3rem;
}
#restaurant .map {
  margin: 4rem 18rem 4rem 18rem;
  height: 1000px;
  width: 865px;
  background-image: url("../images/mapbg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
#restaurant .map a {
  position: relative;
  color: #5F5D5C;
}
#restaurant .map a:nth-child(1){
  top: 40%;
  left: 40%;
}
#restaurant .map a:nth-child(2){
  top: 89%;
  left: 45.5%;
}
#restaurant .map a:nth-child(3){
  top: 42%;
  left: 34.5%;
}
#restaurant .map a:nth-child(4){
  top: 46%;
  left: 31.5%;
}
#restaurant .map a:nth-child(5){
  top: 47.5%;
  left: 28.5%;
}
#restaurant .map a:nth-child(6){
  top: 85%;
  left: 26%;
}
#restaurant .map a:nth-child(7){
  top: 47%;
  left: 22.5%;
}
#restaurant .map a:nth-child(8){
  top:47%;
  left: 16%;
}
#restaurant .map a:nth-child(9){
  top: 72.5%;
  left: 16.5%;
}
#restaurant .map a:nth-child(10){
  top: 68%;
  left: 13.5%;
}
#restaurant .map a:nth-child(11){
  top: 75%;
  left: 9%;
}
#restaurant .map a:nth-child(12){
  top: 85%;
  left: 10%;
}
#restaurant .map a:nth-child(13){
  top: 52%;
  left: 4%;
}
#restaurant .map a:nth-child(14){
  top: 43%;
  left: -3%;
}
#restaurant .map a:nth-child(15){
  top: 22%;
  left: -14%;
}
#restaurant .map a:nth-child(16){
  top: 32%;
  left: -9%;
}
#restaurant .map a:nth-child(17){
  top: 34.5%;
  left: -11.5%;
<<<<<<< HEAD

}
#restaurant .map a:nth-child(18){
  top: 9.5%;
  left: -15%;
}

#restaurant .map a:nth-child(19){
  top: 23%;
  left: -17.5%;
}
#restaurant .map a:nth-child(20){
  top: 43%;
  left: -17%;
}
#restaurant .map a:nth-child(21){
  top: 20%;
  left: -23%;
}
          #restaurant .map a:nth-child(22){
    top: 50%;
    left: -24%;
  }
    #restaurant .map a:nth-child(23){
  top: 2%;
  left:-30%;
}
        #restaurant .map a:nth-child(24){
  top: 44%;
  left:-30%;
}
            #restaurant .map a:nth-child(25){
  top: 41%;
  left:-36%;
}
                    #restaurant .map a:nth-child(26){
  top: 38%;
  left:-36%;
}
#restaurant .map a:nth-child(27){
  top: 45%;
  left: -42%;
}
#restaurant .map a:nth-child(28){
  top: 57%;
  left: -50%;
}
#restaurant .map a:nth-child(29){
  top: 53%;
  left: -48%;
=======
}
#restaurant .map a:nth-child(18){
  top: 10%;
  left: -15%;
}
#restaurant .map a:nth-child(19){
  top: 25%;
  left: -18%;
}
#restaurant .map a:nth-child(20){
  top: 43%;
  left: -18%;
}
#restaurant .map a:nth-child(21){
  top: 20%;
  left: -23%;
}
#restaurant .map a:nth-child(22){
  top: 50%;
  left: -24%;
}
#restaurant .map a:nth-child(23){
  top: 2%;
  left:-30%;
}
#restaurant .map a:nth-child(24){
  top: 44%;
  left:-30%;
}
#restaurant .map a:nth-child(25){
  top: 41%;
  left:-36%;
}
#restaurant .map a:nth-child(26){
  top: 38%;
  left:-36%;
}
#restaurant .map a:nth-child(27){
  top: 45%;
  left: -42%;
}
#restaurant .map a:nth-child(28){
  top: 57%;
  left: -50%;
}
#restaurant .map a:nth-child(29){
  top: 53%;
  left: -48%;
}
@media only screen and (max-width:865px){
  #restaurant .map {
    height:600px;
    width:500px;
  }
  #restaurant .map a:nth-child(1){
    top: 40%;
    left: 39%;
  }
  #restaurant .map a:nth-child(2){
    top: 87.5%;
    left: 42.5%;
  }
  #restaurant .map a:nth-child(3){
    top: 43%;
    left: 28%;
  }
  #restaurant .map a:nth-child(4){
    top: 44.5%;
    left: 23%;
  }
  #restaurant .map a:nth-child(5){
    top: 46.5%;
    left: 17%;
  }
  #restaurant .map a:nth-child(6){
    top: 84%;
    left: 9%;
  }
  #restaurant .map a:nth-child(7){
    top: 45.5%;
    left: 6.5%;
  }
  #restaurant .map a:nth-child(8){
    top:46%;
    left: -1.5%;
  }
  #restaurant .map a:nth-child(9){
    top: 71%;
    left: -3%;
  }
  #restaurant .map a:nth-child(10){
    top: 67%;
    left: -8%;
  }
  #restaurant .map a:nth-child(11){
    top: 74%;
    left: -15%;
  }
  #restaurant .map a:nth-child(12){
    top: 84%;
    left: -19%;
  }
  #restaurant .map a:nth-child(13){
    top: 52%;
    left: -24%;
  }
  #restaurant .map a:nth-child(14){
    top: 43%;
    left: -33%;
  }
  #restaurant .map a:nth-child(15){
    top: 22%;
    left: -46%;
  }
  #restaurant .map a:nth-child(16){
    top: 32%;
    left: -44%;
  }
  #restaurant .map a:nth-child(17){
    top: 34%;
    left:-48%;
  }
  #restaurant .map a:nth-child(18){
    top: 9.5%;
    left: -54%;
  }
  #restaurant .map a:nth-child(19){
    top: 22%;
    left: -59%;
  }
  #restaurant .map a:nth-child(20){
    top: 38.5%;
    left: 40%;
  }
  #restaurant .map a:nth-child(21){
    top: 15%;
    left: 30%;
  }
  #restaurant .map a:nth-child(22){
    top: 47%;
    left: 29%;
  }
  #restaurant .map a:nth-child(23){
    top: -2%;
    left:20%;
  }
  #restaurant .map a:nth-child(24){
    top: 39%;
    left:18%;
  }
  #restaurant .map a:nth-child(25){
    top: 38%;
    left:9%;
  }
  #restaurant .map a:nth-child(26){
    top: 34%;
    left:8%;
  }
  #restaurant .map a:nth-child(27){
    top: 41.5%;
    left: -2%;
  }
  #restaurant .map a:nth-child(28){
    top: 53%;
    left: -12%;
  }
  #restaurant .map a:nth-child(28){
    top: 53%;
    left: -12%;
  }
  #restaurant .map a:nth-child(29){
    top: 49%;
    left: -12%;
  }
}
@media only screen and (max-width:600px){

    #restaurant .map {
    height:400px;
    width:300px;
  }
  #restaurant .map a:nth-child(1){
    top: 40%;
    left: 36%;
  }
  #restaurant .map a:nth-child(2){
    top: 87%;
    left: 35%;
  }
  #restaurant .map a:nth-child(3){
    top: 42%;
    left: 18.5%;
  }
  #restaurant .map a:nth-child(4){
    top: 44%;
    left: 10%;
  }
  #restaurant .map a:nth-child(5){
    top: 46%;
    left: 1%;
  }
  #restaurant .map a:nth-child(6){
    top: 83%;
    left: -10%;
  }
  #restaurant .map a:nth-child(7){
    top: 45%;
    left: -15%;
  }
  #restaurant .map a:nth-child(8){
    top:45%;
    left: -29%;
  }
  #restaurant .map a:nth-child(9){
    top: 69.5%;
    left: -35%;
  }
  #restaurant .map a:nth-child(10){
    top: 66%;
    left: -43%;
  }
  #restaurant .map a:nth-child(11){
    top: 73%;
    left: -54%;
  }
  #restaurant .map a:nth-child(12){
    top: 78%;
    left: 40%;
  }
  #restaurant .map a:nth-child(13){
    top: 45%;
    left: 28%;
  }
  #restaurant .map a:nth-child(14){
    top: 37%;
    left: 15%;
  }
  #restaurant .map a:nth-child(15){
    top: 17%;
    left: -2%;
  }
  #restaurant .map a:nth-child(16){
    top: 26%;
    left: -3%;
  }
  #restaurant .map a:nth-child(17){
    top: 28%;
    left: -12%;
  }
  #restaurant .map a:nth-child(18){
    top: 2%;
    left:-20%;
  }
  #restaurant .map a:nth-child(19){
    top: 19%;
    left: -28.5%;
  }
  #restaurant .map a:nth-child(20){
    top: 37%;
    left: -33%;
  }
  #restaurant .map a:nth-child(21){
    top: 13%;
    left: -47%;
  }
  #restaurant .map a:nth-child(22){
    top: 44%;
    left: -52%;
  }
  #restaurant .map a:nth-child(23){
    top: -8%;
    left:33%;
  }
  #restaurant .map a:nth-child(24){
    top: 35.5%;
    left:29%;
  }
  #restaurant .map a:nth-child(25){
    top: 30%;
    left:15%;
  }
  #restaurant .map a:nth-child(26){
    top: 27%;
    left:11%;
  }
  #restaurant .map a:nth-child(27){
    top: 36%;
    left: -2%;
  }
  #restaurant .map a:nth-child(28){
    top: 47%;
    left: -18%;
  }
  #restaurant .map a:nth-child(29){
    top: 42%;
    left: -20%;
  }
/*================== Restaurant page END ===================*/

/*============== Restaurant INFO page =================*/
#resInfo .container{
  margin: 2rem 7rem 2rem 7rem;
  display: flex;
  flex-direction: column;
}
#resInfo .container .top{
  margin-left: 4rem;
}
/*gallery by using JavaScript will be placed*/
#resInfo .images p{
  visibility: hidden;
}
#resInfo .container .bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#resInfo .container .bottom .detailinfo{
  margin-left: 2rem;
  padding-left: 2rem;
  padding-right: 7rem;
}
#resInfo .container .bottom .detailinfo>#hours{
  margin-left: 1rem;
}
.googlemap {
  padding: 1rem 2rem 1rem 2rem;
}
.googlemap iframe {
  width: 20rem;
  height: 20rem;
}
@media (max-width: 1081px){
  #resInfo .container{
    margin: 2rem 1.5rem 2rem 1.5rem;
  }
  #resInfo .container .bottom .detailinfo{
    padding-right: 0rem;
  }
}
@media (max-width: 701px){
  #resInfo .container {
    margin: 0 0 0 0;
  }
  #resInfo .container .bottom{
    flex-direction: column;
    align-items: center;
  }
  #resInfo .container .bottom .detailinfo {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}
/*============ Restaurant INFO page END ===============*/

/*Filter, Spinner, Contactus page will be implemented by using JS*/
#filter, #spinner, #contactus .container{
  margin: 1rem 1rem 1rem 1rem;
}
